<%
const passMin = typeof passwordMin === 'undefined' ? 8 : passwordMin;
const passMax = typeof passwordMax === 'undefined' ? 128 : passwordMax;
%>

<!-- Page Content goes here -->
<main class="container">
    <div class="row">
        <div class="col s12 m10 l8 offset-m1 offset-l2">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <h1 class="card-title center">Register</h1>

                    <%- include('./partials/_notify') %>

                    <form method="post">
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <i class="icomoon i-user-circle-o prefix"></i>
                                <input id="name" name="username" autocomplete="username" required="required"
                                       type="text" class="validate" value="<%= locals.username ? username : '' %>">
                                <label for="name">Username</label>
                                <span class="helper-text">Please enter your account name</span>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <i class="icomoon i-email prefix"></i>
                                <input id="email" name="email" autocomplete="email" required="required" type="email"
                                       class="validate" value="<%= locals.email ? email : '' %>">
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="Invalid email" data-success="Valid email">Please enter your account email</span>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <i class="icomoon i-https prefix"></i>
                                <input id="password" autocomplete="new-password" name="password" required="required"
                                       type="password" class="validate"
                                       maxlength="<%= passMax %>">
                                <label for="password">Password</label>
                                <span class="helper-text"
                                      data-error="Enter your password, min length is <%= passMin %> characters"
                                      data-success="Password correct">Enter your password, min length is <%= passMin %> characters</span>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <i class="icomoon i-lock_outline prefix"></i>
                                <input id="password2" autocomplete="new-password" name="password2"
                                       required="required" type="password" class="validate"
                                       minlength="<%= passMin %>" maxlength="<%= passMax %>"
                                       onkeyup="check(this)" onblur="check(this)">
                                <label for="password2">Password (confirm)</label>
                                <span class="helper-text" data-error="Password not match"
                                      data-success="Password match">Re-enter the password</span>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light btn-large full-width" type="submit">
                                    <i class="icomoon i-chevron-right left"></i>
                                    Submit
                                    <i class="icomoon i-chevron-left right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a href="/" class="" title="Go to main page">
                        <i class="icomoon i-navigate_before inline-icon"></i>Homepage
                    </a>
                    <a href="/admin/login" class="right" title="Go to login page">
                        Sign in<i class="icomoon i-navigate_next inline-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        function check(input) {
            if (input.value !== document.getElementById('password').value) {
                input.classList.remove('valid');
                input.classList.add('invalid');
                //input.setCustomValidity('Password Must be Matching.');
            } else {
                input.classList.remove('invalid');
                input.classList.add('valid');
            }
        }
    </script>
</main>
